@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.formContainer {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;

        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 12px;
                cursor: pointer;

                .img {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        box-shadow: ghostwhite 3px 5px 7px 5px;

        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            background-color: #3e3c61;
            position: relative;
            // height: 100%;
            // overflow-y: auto;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo {
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;

                    img {
                        background-color: #ddddf7;
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .username {
                        @include tablet {
                            display: none;
                        }
                    }

                    .logout {
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        // border: none;
                        cursor: pointer;
                        height: 20px;
                        width: 20px;
                        background: transparent;

                        @include tablet {
                            position: absolute;
                            bottom: 10px;
                        }

                        &:hover {
                            background-color: #ddddf7;
                            color: #5d5b8d;
                        }

                        @include tablet {
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
            }

            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }
            }

            .chats {
                overflow-y: auto;
                height: calc(100% - 120px);

            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: #2f2d52;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    p {
                        font-size: 14px;
                        color: lightgray;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        /* Limit to 1 line */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 5px;
                        /* Optional: Add spacing between span and p */
                    }
                }
            }

        }

        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;
            }

            .chatIcons {
                display: flex;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }
            }

            .messages {
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .noMessages {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    color: gray;
                    font-size: 32px;
                }


                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .icon {
                        width: 24 px;
                        height: 24px;
                        cursor: pointer;
                    }

                    .emoji {
                        position: relative;
                        font-size: 30px;
                        background-color: white;

                        .picker {
                            position: absolute;
                            bottom: 50px;
                            right: 0;
                        }
                    }

                    .buttonsend {
                        border: none;
                        padding: 10px 15px;
                        color: white;
                        background-color: #8da4f1;
                        cursor: pointer;

                        &:disabled {
                            opacity: 0.7;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }

        /* styles.css or your main CSS file */
        .profile-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
        }

        .profile-modal-content {
            background: white;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            position: relative;
        }

        .profile-modal-content .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .profile-modal-content h2 {
            margin-top: 0;
        }

        .profile-modal-content form {
            display: flex;
            flex-direction: column;
        }

        .profile-modal-content label {
            margin-bottom: 10px;
        }

        .profile-modal-content input[type="text"],
        .profile-modal-content input[type="file"] {
            padding: 5px;
            margin-top: 5px;
        }

        .profile-modal-content button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }

        /* styles.css or your main CSS file */
        .menu {
            position: absolute;
            top: 50px;
            right: 10px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            color: #000;

        }

        .menu-item {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .menu-item:hover {
            background-color: #f0f0f0;
        }

        .menu-item svg {
            margin-right: 10px;
        }


    }
}